.theme-app {
    padding-top: 20px;
    min-height: 100%;
}

.theme-winter-2023 {
    background: #699fbf
}

.theme-autumn-2023 {
    background: #9c6644;
}

.theme-typhoon-season-2023 {
    background: #487693;
}

.theme-hot-summer-2023 {
    background: #47927E;
}

.theme-early-summer-2023 {
    background: #bb4a2e;
}

.theme-sakura-2023 {
    background: #ab6374;
}

.theme-lunar-newyear-2023 {
    background: #890a08;
}

.theme-year-in-sport app-header {
  display: none !important;
}