<div class="container">
    <h1>DASHBOARD</h1>

    <h2> START: 2022-12-01</h2>
    <h2> END: 2023-02-01</h2>

    <h2> TOTAL DISTANCE: {{totalDistanceStr}}km</h2>
    <div class="text-center">
        <button class="btn btn-strava" (click)="onSync()">
            Sync data
        </button>
    </div>

    <span>
        <p class="error-message">{{ errorMessage }}</p>
    </span>

    <div>
        <div *ngFor="let athlete of athletesData, let i = index">
            <div>
                <p> {{athlete.athlete.name}}</p>
                <img [src]="athlete.athlete.imgURL" />

            </div>
            <div *ngFor="let activity of athlete.activities">
                <span>{{activity.sportType}} :</span>
                <span>{{activity.distance}} km </span>
            </div>
        </div>

    </div>

</div>