<div class="container">
    <div class="text-center">
        <h1 class="title">DASHBOARD</h1>

        <h3>Challenge {{challenge.name}}</h3>

        <app-count-down-timer [endDate]="challenge.end "></app-count-down-timer>

        <h4 class="progress-text"> {{totalDistance | number}} / {{challenge.goal |number}} km</h4>
        <!-- progress bar -->
        <div class="progress-box">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar bg-secondary" role="progressbar" [style.width.%]="progress.ride"
                    aria-valuemax="1000">
                    <fa-icon [icon]="faRide"></fa-icon>
                </div>
                <div class="progress-bar bg-info" role="progressbar" [style.width.%]="progress.run"
                    aria-valuemax="1000">
                    <fa-icon [icon]="faRun"></fa-icon>
                </div>
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="progress.snowboard"
                    aria-valuemax="1000">
                    <fa-icon [icon]="faSnowboard"></fa-icon>
                </div>
                <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="progress.alpineSki"
                    aria-valuemax="1000">
                    <fa-icon [icon]="faAlpineSki"></fa-icon>
                </div>
                <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="progress.swim"
                    aria-valuemax="1000">
                    <fa-icon [icon]="faSwim"></fa-icon>
                </div>
                <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="progress.hike"
                    aria-valuemax="1000">
                    <fa-icon [icon]="faHike"></fa-icon>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-1">#</div>
            <div class="col-1"></div>
            <div class="col-2"></div>
            <div class="col-3">Athlete</div>
            <div class="col-5 text-center">Distance</div>
        </div>
        <hr>
        <div *ngFor="let athlete of athletesData, let i = index">
            <div class="row">
                <div class="col-1">{{i+1}}</div>
                <div class="col-1">
                    <fa-icon *ngIf="i === 0" [icon]="faCrown" class="icon-gold "></fa-icon>
                    <fa-icon *ngIf="i === 1" [icon]="faTrophy" class="icon-silver"></fa-icon>
                    <fa-icon *ngIf="i === 2" [icon]="faTrophy" class="icon-bronze"></fa-icon>
                </div>
                <div class="col-2">
                    <img [src]="athlete.athlete.imgURL" width="60px" />
                </div>
                <div class="col-3">
                    <p> {{athlete.athlete.name}}</p>
                </div>
                <div class="col-5">
                    <div *ngFor="let activity of athlete.activities">
                        <div *ngIf="activity.sportType === 'Ride'" class="row">
                            <div class="col-5"> <fa-icon [icon]="faRide" class="text-secondary"></fa-icon> </div>
                            <div class="col-7 detail-distance">{{activity.distance| number:'1.1-1'}} km</div>
                        </div>
                        <div *ngIf="activity.sportType === 'Run'" class="row">
                            <div class="col-5"> <fa-icon [icon]="faRun" class="text-info "></fa-icon>
                                <span class="weight">x2</span>
                            </div>
                            <div class="col-7 detail-distance">{{activity.distance| number:'1.1-1'}} km</div>
                        </div>
                        <div *ngIf="activity.sportType === 'Snowboard'" class="row">
                            <div class="col-5"> <fa-icon [icon]="faSnowboard" class="text-success"></fa-icon> </div>
                            <div class="col-7 detail-distance">{{activity.distance | number:'1.1-1'}} km</div>
                        </div>
                        <div *ngIf="activity.sportType === 'AlpineSki'" class="row">
                            <div class="col-5"> <fa-icon [icon]="faAlpineSki" class="text-primary"></fa-icon> </div>
                            <div class="col-7 detail-distance">{{activity.distance| number:'1.1-1'}} km</div>
                        </div>
                        <div *ngIf="activity.sportType === 'Swim'" class="row">
                            <div class="col-5">
                                <fa-icon [icon]="faSwim" class="text-warning"></fa-icon>
                                <span class="weight">x10</span>
                            </div>
                            <div class="col-7 detail-distance">{{activity.distance| number:'1.1-1'}} km</div>
                        </div>
                        <div *ngIf="activity.sportType === 'Hike'" class="row">
                            <div class="col-5">
                                <fa-icon [icon]="faHike" class="text-danger"></fa-icon>
                                <span class="weight">x3</span>
                            </div>
                            <div class="col-7 detail-distance">{{activity.distance| number:'1.1-1'}} km</div>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div class="row">
                        <div class="ath-total-distance-box">
                            <span *ngIf="athlete.totalNewDistance > 0" class="new-distance">
                                (+{{athlete.totalNewDistance/1000 | number:'1.0-1'}}km) </span>
                            <span class="distance">{{athlete.totalDistance/1000 | number:'1.0-1'}} km</span>

                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="text-center">
        <p class="error-message"> {{ errorMessage }} </p>
        <button class="btn btn-sync" (click)="onSync()" (mousedown)="onHardSync()">
            <span [class.fa-spin]="isSyncing"><fa-icon [icon]="faSync" class="fa-spin"></fa-icon></span>
            &nbsp;
            <span>Sync data</span>
        </button>
    </div>
</div>