hr {
    border: 1px solid white;
    margin: 10px;
}

.btn-sync {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: orange;
    opacity: 90%;
}

.progress-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.progress-text {
    color: #d9a74a;
    font-weight: 800;
    font-size: x-large;
}

.icon-gold {
    color: gold;
}

.icon-silver {
    color: silver;
}

.icon-bronze {
    color: #CD7F32;
}

.weight {
    margin-left: 3px;
    font-size: 10px
}

.detail-distance {
    text-align: end;
    padding-right: 20px;
}

.ath-total-distance {
    color: orange;
    font-weight: bold;
}

.ath-total-box {
    text-align: end;
    padding-right: 20px;
}

.ath-total-new-distance {
    color: yellow;
    font-size: small;
}